<h1>
	<%=title%>
</h1>

<div class="row mb-2">
	<form class="col-8 col-md-4" name="frm">
		<div class="input-group text-center ">
			<input class="form-control" value="banff" placeholder="검색어" name="query">
			<button class="btn btn-primary">search</button>

		</div>
	</form>
</div>

<div id="div_blog" style="width:900px;margin:0px auto"></div>
<script id="temp_blog" type="X-handlebars-template">
	{{#each documents}}
		<div class="row mb-3" url="{{url}}" style="cursor:pointer;">
			<div class="col">
				<div><a href="{{url}}">{{{title}}}</a></div>
				<div class="ellipsis3">{{{contents}}}</div>
				<div class="mt-2" stype="font-size:10px;color:gray;">
					<span>{{blogname}}</span>
					<span class="ms-3">{{fmtDate datetime}}</span>
				</div>
			</div>
			<div class="col">
				<img src="{{thumbnail}}">
			</div>
		</div>
	{{/each}}
</script>
<div style="text-align: center;">
	<button id="prev" class="btn btn-outline-success">이전</button>
	<span class="mx-3" id="pn"></span>
	<button id="next" class="btn btn-outline-success">다음</button>
</div>
<script> //registerhelper : 자바함수 쓰기위해 만들어주는 registerhelper 임. 핸들바에서는  함수를 쓸수 없기때문에.
	Handlebars.registerHelper("fmtDate", function (date) {
		const yy = date.substring(0, 4);
		const MM = date.substring(5, 7);
		const dd = date.substring(8, 10);
		const fmtdate = `${yy}년 ${MM}월 ${dd}일`;
		//fmtdate=date.substring(0,10);
		return fmtdate;

	});

	const size = 3;
	let page = 1;
	//row를 클릭한 경우
	$("#div_blog").on("click", ".row", function () {
		const url = $(this).attr("url");
		location.href = url;
	});
	$(frm).on("submit", function (e) {
		e.preventDefault();
		query = $(frm.query).val();
		if (query == "") {
			alert("검색어 입력햇!");
		} else {
			page = 1;
			getData();

		}
	});
	function getData() {
		$.ajax({
			type: "get",
			url: "https://dapi.kakao.com/v2/search/blog",
			headers: { "Authorization": "KakaoAK 6b2b627551b8f8434b670c1ca6598c30" },
			dataType: "json",
			data: { query: query, size: size, page: page },
			success: function (data) {
				console.log(data);
				const temp = Handlebars.compile($("#temp_blog").html());
				$("#div_blog").html(temp(data));
				const last = Math.ceil(data.meta.pageable_count / 5);
				$("#pn").html(`<b>${page} / ${last}</b>`);

				if (page == 1) {
					$("#prev").attr("disabled", true);
				} else {
					$("#prev").attr("disabled", false);
				}
				if (data.meta.is_end) {
					$("#next").attr("disabled", true);
				} else {
					$("#next").attr("disabled", false);
				}
			}

		});
	}
	

	//다음버튼을 클릭한경우
	$("#next").on("click", function () {
		page++;
		getData();
	});
	$("#prev").on("click", function () {
		page--;
		getData();
	});
</script>