<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;> 
    <div class=" container-fluid">
	<a class="navbar-brand" href="/">Home</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/book">도서검색</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/movie">영화검색</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/local">지역검색</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/blog">블로그검색</a>
			</li>
			<li class="nav-item" >
				<a class="nav-link active" aria-current="page" href="/posts">게시판</a>
			</li>
		</ul>
		<ul class="navbar-nav mb-2 mb-lg-0">
			<li class="nav-item" id="login">
				<a class="nav-link active" aria-current="page" href="/users/login">로그인</a>
			</li>
			<li class="nav-item" id="uid" style="display:none;">
				<a class="nav-link active" aria-current="page" href="/users/mypage.ejs"></a>
			</li>
			<li class="nav-item" id="logout" style="display:none;">
				<a class="nav-link active" aria-current="page" href="#">로그아웃</a>
			</li>

		</ul>
		<!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
          </li> -->

		<!-- <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul> -->

		<!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->

		<!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
	</div>

	</div>
</nav>
<script>
	const uid = sessionStorage.getItem('uid');
	if (uid) { //로그인 했을시
		$("#login").hide();
		$("#logout").show();
		$("#uid").show();
		$("#uid a").html(uid); //id 가 uid 안에 있는 a tag 
	} else { //로그인 안했을시
		$("#login").show();
		$("#logout").hide();
		$("#uid").hide();

	}
	//로그아웃  메뉴를 클릭했을시
	$("#logout").on("click", "a", function (e) {
		e.preventDefault();
		if (confirm("로그아웃 하실래요?")) {
			sessionStorage.clear();
			location.href = "/";
		}
	});
		
</script>