<div class="div_menu">
    <a href="/books" class="item">search books</a>
    <a href="/movies" class="item">search movies</a>
    <a href="/shop" class="item">search items</a>
    <a href="/bbs" class="item" style="float:right;">게시판</a>
    <a href="/todos" class="item" style="float:right;">todo list</a>
    <hr>
</div>