<h1><%=title%></h1>
<div id="div_posts"></div>
<script id="temp_posts" type="x-handlebars-template">
    <table class="table table-striped table-hover">
        {{#each .}}
            <tr>
                <td>{{pid}}</td>
                <td>{{title}}</td>
                <td>{{writer}}</td>
                <td>{{tdate}}</td>
            </tr>
        {{/each}}
    </table>
</script>
<script>
    getData();
    function getData(){
        $.ajax({
            type:"get",
            url:"/posts/list.json",
            dataType:"json",
            success:function(data){
                console.log(data);
                const temp=Handlebars.compile($("#temp_posts").html());
                $("#div_posts").html(temp(data));
            }
        })
    }
    
</script>