<h1><%=title%></h1>
<div class="text-end mb-3" id="div_write" style="display: none;">
    <a href="/posts/insert"><button class="btn btn-primary">글쓰기</button></a>
</div>

<div id="div_posts"></div>
<script id="temp_posts" type="x-handlebars-template">
    <table class="table table-striped table-hover">
        <tr><td>ID</td><td>Title</td><td>Contents</td><td>Writer</td><td>Date</td></tr>
        {{#each .}}
            <tr>
                <td>{{pid}}</td>
                <td><a href="/posts/read?pid={{pid}}">{{title}}</a></td>
                <td>{{title}}</td>
                <td>{{writer}}</td>
                <td>{{fdate}}</td>
            </tr>
        {{/each}}
    </table>
</script>
<script>
    getData();
    if(uid){
        $("#div_write").show();
    }else{
        $("#div_write").hide();
    }
    function getData(){
        $.ajax({
            type:"get",
            url:"/posts/list.json",
            dataType:"json",
            success:function(data){
                console.log(data);
                const temp=Handlebars.compile($("#temp_posts").html());
                $("#div_posts").html(temp(data));
            }
        })
    }
    
</script>